body {
    margin: 5%;
    background-color: #203342;
    color: #fff;
}

div,
h1,
h2,
h3,
h4,
h5,
p,
ul,
li,
input,
button,
select,
span {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Consolas', monospace;
}

button {
    background-color: #203342;
    border: 0;
    cursor: pointer;
}

button:focus {
    outline: none;
}
